
.Container {
  width: 30vw;
  box-shadow: 3px 3px 3px gray;
  border: 3px #F8F8F8;
  border-style: groove;
  background-color: #99a9c4;
  margin: 10px;

}

.Column1 {
  position: absolute;
  left: 10%;
}


.Column2 {
  position: absolute;
  right: 10%;
}
